<p id="notice"><%= notice %></p>

<div id='control-strip'>
  <h2><%= @note.title %></h2>
  <div class='btn'>
    <%= link_to 'Edit', edit_note_path(@note)%> 
  </div>
</div>

<div class='markdown-show'>
  <%= RDiscount.new(@note.body).to_html.html_safe %>
</div>


