div.splitPane {
  overflow:hidden;
  padding-bottom: 10px;

  div#editPane {
    border: 1px solid #CCC;
    border-left: 0px;
    padding: 15px;
    border-radius: 0 5px 5px 0;
    margin-right: 20px;

    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

    input,
    textarea {
      width: 433px;
    }

    ul.uedit_complete_button_strip {
      margin: 0;
      padding: 3px 3px 0px 3px;
      width: 436px;
      height: 35px;

      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      background: #eeeeee; /* Old browsers */
      background: -moz-linear-gradient(top, #eeeeee 0%, #d6d6d6 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #eeeeee 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #eeeeee 0%,#d6d6d6 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #eeeeee 0%,#d6d6d6 100%); /* IE10+ */
      background: linear-gradient(top, #eeeeee 0%,#d6d6d6 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
    }
  }

  div#notepad-bg {
    background-color: #333;
    padding: 3px 0 3px 3px ;
    margin-right: 0;

    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;

    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

    div#previewPane {
      float:right; 
      border-left: 2px solid #DED6B4;
      border-bottom: 2px solid #DED6B4;
      padding: 10px;
      background: url('/assets/paper_bk.png/'), repeat;
      overflow:scroll;

      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px;

      -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.9);
      -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.9);
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.9);

    }
  }
}

div.splitPane > div{
  float:left;
  width: 443px;
}

