$green: #15D180;
$pale-green: #DAF0E1;

body {
  background-color: #F2F2F2;
}
div.container {
}

h1#site_header {
  background-color: #000;
  color: #FFF;

  font-size: 35px;
  padding: 15px;
  border-radius: 5px;
}

.green-box {
  background-color: $green;
  border-radius: 5px;
}
