$green: #7FD9CF;
$pale-green: #DAF0E1;

body {
  background-color: #F2F2F2;
}
div.container {
}

h1#site_header {
  background-color: #333333;
  color: #FFF;

  font-size: 35px;
  padding: 15px;
}

.green-box {
  background-color: $green;
}
