div.container {
  border:  1px solid black;
}
div.splitPane {
  overflow:hidden;
}

div.splitPane > div{
  float:left;
  width: 450px;
  margin-right: 10px;
}

div#previewPane {
  float:right; 
  border: 1px solid #CCC;
  margin-right: 0;
  padding: 10px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;

  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

}
