$green: #7FD9CF;
$pale-green: #DAF0E1;

body {
  background-color: #F2F2F2;
}
div.container {
  background-color: #FFF;
  border: 1px solid #AAA;
  border-width: 0 1px;
  -moz-box-shadow: 0 1px 50px #AAA;
  -webkit-box-shadow: 0 1px 50px #AAA;
  box-shadow: 0 1px 50px #AAA;
}

h1#site_header {
  background-color: #333333;
  color: #FFF;

  font-size: 35px;
  padding: 15px;
}

.green-box {
  background-color: $green;
}
