// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green: #7FD9CF;

div.markdown-show {
  padding: 10px 15px;
}

div#control-strip {
  overflow:hidden;
  background-color: $green;
  padding: 5px;
  h2 {
    float:left;
    margin-right: 10px;
  }
  div.btn {
    margin-left: 5px;
  }
}
