// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green: #7FD9CF;

div#control-strip {
  overflow:hidden;
  background-color: $green;
  padding: 5px 25px;
  h1 {
    float:left;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  div.btn {
    margin-left: 5px;
    margin-top: 5px;
  }
}

div.markdown-show {
  padding: 10px 25px;
}
